a{
	color: #e16244;
	text-decoration: none;
	line-height: inherit;
}
a:hover {
	color: #e16244;
	outline: 0;
}
a:focus{
	color: #e16040;

}
label{
	width:30%;
}
.navbar{
	background-image: url('../img/bg_vert.jpg');
	position:relative;
	-moz-box-shadow: 0px 0px 5px 0px #252525;
	-webkit-box-shadow: 0px 0px 5px 0px #252525;
	-o-box-shadow: 0px 0px 5px 0px #252525;
	box-shadow: 0px 0px 5px 0px #252525;
}
@media (min-width: 768px) {
	#pairs_header{
		min-height:90px;
		padding-right:37px;
	}
	#pairs_header h2{
		font-family: 'Segoe UI Light','Segoe UI',Arial,sans-serif;
		font-size:31px;
	}
	#pairs_header ul{
		padding-top:41px;
		padding-bottom:0px;
		margin:0px;
	}
	#pairs_header h2{
		padding-top:35px;
	}
	#login{
		width:500px;
	}
	#login input{
		width: 353px; /* 353 + 2 + 45 = 400 */
	}
}
@media (max-width: 767px) {
	#pairs_header h2{
		padding-top:5px;
	}
	#login{
		width: 92%;
	}
	#login input{
		width: 90%; /* 353 + 2 + 45 = 400 */
	}
}
#pairs_header h2{
	color:#e16244;
}
#navbar li{
	position:relative;
	float: left;
	margin-left: 10px;
	list-style: none;
}
#navbar li a{
	display: inline-block;
	font: 20px/1 Lobster,Arial,sans-serif;
	padding: 7px 17px 7px;
	position: relative;
	z-index:2;
	color:white;
	text-decoration:none !important;
	white-space:nowrap;
}
#navbar li:hover,.fancyNav li:focus{
	background-color:#e16244;
	border-radius: 15px  15px  15px  15px;
}
.li_current_page{
	background-color:#e16244;
	border-radius: 15px  15px  15px  15px;	
}
.text_shadow_white{
    color: rgba(255,255,255, 0.8);
    text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
}

/*
	formulaire login
*/
#login{
	height: auto;
	border: 2px solid #242424;
	margin:auto;
	margin-top: 20px;
	border-radius: 10px 10px 10px 10px;
	
	@media (min-width: @screen-sm-min) {
		width:80%;
	}
}
#login_title{
	margin:0px;
	padding:0px;
	width:100%;
	min-height:30px;
	border-radius: 7px 7px 0px 0px;
	background-color: #e16244;
	border-bottom: 3px solid rgb(56, 56, 56);
	margin-bottom:15px;
}
#login_title h3{
	padding-left:5px;
	font-size: 20px;
	margin:0px;
	color:white;
	font-family: 'Segoe UI Light','Segoe UI',Arial,sans-serif;
}
#login form{
	padding-left:20px;
}
#login input{
	background: #f1f1f1 url('../img/login-sprite.png') no-repeat;
    padding: 8px 8px 8px 30px;
    margin: 0 0 10px 0;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}
#login input:focus
{
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
    box-shadow: 0 0 0 1px #e8c291 inset;
}
button[type=submit]{
    background-color: #ffb94b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
    background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: linear-gradient(top, #fddb6f, #ffb94b);
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    
     -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
    
    border-width: 1px;
    border-style: solid;
    border-color: #d69e31 #e3a037 #d5982d #e3a037;

	padding: 8px;
	
    height: 35px;
    width: auto;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #8f5a0a;
	margin-bottom:0px;
}

button[type=submit]:hover,button[type=submit]:focus
{		
    background-color: #fddb6f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb94b), to(#fddb6f));
    background-image: -webkit-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -moz-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -ms-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -o-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: linear-gradient(top, #ffb94b, #fddb6f);
}	

button[type=submit]:active{		
    outline: none;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
}

button::-moz-focus-inner
{
  border: none;
}
#email{
    background-position: 7px -6px !important;
}
#password{
    background-position: 7px -56px !important;
}
.message_error{
	color:red;
	text-align:center;
}
.message.error{
	color:red;
	text-align:center;
}
.message_success{
	color:green;
	text-align:center;
}

.td_link a { 
  display: block; 
  height: 100%; 
}
.td_link a:hover{
	color:#232323;
}
td img{
	height:32px;
	width:32px;
}
#faq h3
{
	color: red;
	font-size:15;
	text-align:center;
}
.titre
{
	padding: 5px; 
	background-color: #F7F7F7;
	border: 1px solid #EAEAEA;
	margin-top:5px;
	margin-bottom:5px;

}
.initMove
{
	display:none;
    right:2%;
    top: 3%;
    opacity: 0.0;
	-moz-opacity:0.0;
	filter:alpha(opacity=0);
	-khtml-opacity: 0.0;	
    right:2%;
}
.startMove
{
	display:block;
    -webkit-transition: all 1.5s cubic-bezier(0.25, 0.1, 0.27, 0.73) 0s;
	-moz-transition: all 1.5s cubic-bezier(0.25, 0.1, 0.27, 0.73) 0s;
	-o-transition: all 1.5s cubic-bezier(0.25, 0.1, 0.27, 0.73) 0s;
	-ms-transition: all 1.5s cubic-bezier(0.25, 0.1, 0.27, 0.73) 0s;
    right:2%;
    top: 3%;
    opacity: 1.0;
	-moz-opacity:1.0;
	-khtml-opacity: 1.0;	
	filter:alpha(opacity=100);	
}
#add_user_group .input.text{
	width: 200px;
	float:left;
	margin:0px;
	margin-right: 10px;
	position:relative;
}
#import_group{
	padding: 5px;
	border: 1px solid #e16244;
    border-radius: 3px;
}
.form_datetime_creation{
	margin-bottom:12px;
}
.form_datetime_limit{
	margin-bottom:12px;
}
.switch-question button{
	width: 50px;
	height:auto;
	margin:auto;
	margin-top: 20px;
}
.switch-question button:hover,button:focus{	
    background-color: #eeeeee;
    background-image: none;
    outline: none;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15) inset;	
}
.question{
border: #23232 solid 1px;
border-radius:8px;
padding:6px;
padding-left:9px;
background-color:white;
margin-bottom:10px;
cursor:pointer;
box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.2);
}
.question-selected{
background-color:#fafafa;
box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.5);
}
.question-selected h4{
color:#e16244;
}
.form_add{
	margin-bottom:10px;
}
.question ul{
list-style-type: none;
}
.question li{
cursor:move;
}
.ui-sortable-helper{
	color:#e16244;
}
#agent-question-answer{
	position:static;
}
#agent-question-answer-scroll{
	position:fixed;
	width:35%;
	margin-top:-200px;
}
#questions-questionnaires-scroll{
min-height:350px;
	margin-left:50%;
}
@media (min-height: 800px) {
#agent-question-answer-scroll{
	width:30%;
}
}
@media (max-height: 800px) {
#agent-question-answer-scroll{
	width:45%;
}
}
.answers_reply label{
display:inline-block;
}
.questions_reply{
margin-left:15px;
}
.answers_reply{
	margin-left: 22px;
}
#date_creation{
	width:155px;
}
#date_limit{
	width:155px;
}
#add-question{
	width:200px;
}
#add-answer{
	width:200px;
}